# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kenai,US,60.5544,-151.2583,44.15,97,100,10.36,light rain
1,1,Kavaratti,IN,10.5669,72.6420,80.73,76,100,3.44,overcast clouds
2,2,Atuona,PF,-9.8000,-139.0333,76.24,76,4,9.26,clear sky
3,3,Puerto Ayora,EC,-0.7393,-90.3518,75.16,84,89,10.00,overcast clouds
4,4,Mataura,NZ,-46.1927,168.8643,56.48,57,61,4.79,broken clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the Minimum temperature requirement for your vacation?"))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the Maximun temperature requirement for your vacation?"))

What is the Minimum temperature requirement for your vacation?60
What is the Maximun temperature requirement for your vacation?90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp']<= max_temp) & 
                                       (city_data_df['Max Temp'] > min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Kavaratti,IN,10.5669,72.6420,80.73,76,100,3.44,overcast clouds
2,2,Atuona,PF,-9.8000,-139.0333,76.24,76,4,9.26,clear sky
3,3,Puerto Ayora,EC,-0.7393,-90.3518,75.16,84,89,10.00,overcast clouds
6,6,Vaini,TO,-21.2000,-175.2000,78.96,89,75,4.61,broken clouds
9,9,Avarua,CK,-21.2078,-159.7750,80.65,65,75,10.36,broken clouds
10,10,Arraial Do Cabo,BR,-22.9661,-42.0278,73.26,78,0,16.11,clear sky
12,12,Turkistan,KZ,43.0000,68.0000,61.02,53,100,6.29,overcast clouds
13,13,Touho,NC,-20.7833,165.2333,74.46,66,14,9.57,few clouds
14,14,Hermanus,ZA,-34.4187,19.2345,61.81,89,5,5.66,light rain
15,15,Akyab,MM,20.1500,92.9000,78.33,86,100,2.21,overcast clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Kavaratti,IN,10.5669,72.6420,80.73,76,100,3.44,overcast clouds
2,2,Atuona,PF,-9.8000,-139.0333,76.24,76,4,9.26,clear sky
3,3,Puerto Ayora,EC,-0.7393,-90.3518,75.16,84,89,10.00,overcast clouds
6,6,Vaini,TO,-21.2000,-175.2000,78.96,89,75,4.61,broken clouds
9,9,Avarua,CK,-21.2078,-159.7750,80.65,65,75,10.36,broken clouds
...,...,...,...,...,...,...,...,...,...,...
687,687,Mogadishu,SO,2.0371,45.3438,77.68,86,67,9.57,broken clouds
689,689,Saint-Francois,FR,46.4154,3.9054,67.44,64,0,9.22,clear sky
690,690,Albina,SR,5.5000,-54.0500,78.21,86,81,4.14,broken clouds
691,691,Bonthe,SL,7.5264,-12.5050,76.77,87,99,6.24,overcast clouds
692,692,Vaitape,PF,-16.5167,-151.7500,78.87,67,9,14.70,clear sky

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description","Lat", "Lng"]].copy()

# Display sample data
hotel_df.head()

           City Country  Max Temp Current Description      Lat       Lng
1     Kavaratti      IN     80.73     overcast clouds  10.5669   72.6420
2        Atuona      PF     76.24           clear sky  -9.8000 -139.0333
3  Puerto Ayora      EC     75.16     overcast clouds  -0.7393  -90.3518
6         Vaini      TO     78.96       broken clouds -21.2000 -175.2000
9        Avarua      CK     80.65       broken clouds -21.2078 -159.7750

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df['Hotel Name'] = ""

# Display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Kavaratti,IN,80.73,overcast clouds,10.5669,72.6420,
2,Atuona,PF,76.24,clear sky,-9.8000,-139.0333,
3,Puerto Ayora,EC,75.16,overcast clouds,-0.7393,-90.3518,
6,Vaini,TO,78.96,broken clouds,-21.2000,-175.2000,
9,Avarua,CK,80.65,broken clouds,-21.2078,-159.7750,
...,...,...,...,...,...,...,...
687,Mogadishu,SO,77.68,broken clouds,2.0371,45.3438,
689,Saint-Francois,FR,67.44,clear sky,46.4154,3.9054,
690,Albina,SR,78.21,broken clouds,5.5000,-54.0500,
691,Bonthe,SL,76.77,overcast clouds,7.5264,-12.5050,
692,Vaitape,PF,78.87,clear sky,-16.5167,-151.7500,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "key": gkey,
    "type": "lodging",
    "radius": 5000,
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row['Lat']
    lng = row["Lng"]
    
    #Add the latitude and longitude as parameters to the params dictionary
    params['location'] = f"{lat},{lng}"
   
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    #Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params = params).json()
    #print(hotels)   
     # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
    
print('-------------------------------------')
print('Data Retrieval Complete')
print('-------------------------------------')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
-------------------------------------
Data Retrieval Complete
-------------------------------------

In [10]:
# Display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Kavaratti,IN,80.73,overcast clouds,10.5669,72.6420,Green leaf
2,Atuona,PF,76.24,clear sky,-9.8000,-139.0333,Villa Enata
3,Puerto Ayora,EC,75.16,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
6,Vaini,TO,78.96,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
9,Avarua,CK,80.65,broken clouds,-21.2078,-159.7750,Paradise Inn
...,...,...,...,...,...,...,...
687,Mogadishu,SO,77.68,broken clouds,2.0371,45.3438,Hotel Juba
689,Saint-Francois,FR,67.44,clear sky,46.4154,3.9054,Maison Vin d'Hus
690,Albina,SR,78.21,broken clouds,5.5000,-54.0500,Hudace
691,Bonthe,SL,76.77,overcast clouds,7.5264,-12.5050,Bonthe Holiday Village
692,Vaitape,PF,78.87,clear sky,-16.5167,-151.7500,Conrad Bora Bora Nui

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [11]:
# Drop the rows where there is no Hotel Name.

clean_hotel_df = hotel_df

# Display sample data
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Kavaratti,IN,80.73,overcast clouds,10.5669,72.6420,Green leaf
2,Atuona,PF,76.24,clear sky,-9.8000,-139.0333,Villa Enata
3,Puerto Ayora,EC,75.16,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
6,Vaini,TO,78.96,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
9,Avarua,CK,80.65,broken clouds,-21.2078,-159.7750,Paradise Inn
...,...,...,...,...,...,...,...
687,Mogadishu,SO,77.68,broken clouds,2.0371,45.3438,Hotel Juba
689,Saint-Francois,FR,67.44,clear sky,46.4154,3.9054,Maison Vin d'Hus
690,Albina,SR,78.21,broken clouds,5.5000,-54.0500,Hudace
691,Bonthe,SL,76.77,overcast clouds,7.5264,-12.5050,Bonthe Holiday Village
692,Vaitape,PF,78.87,clear sky,-16.5167,-151.7500,Conrad Bora Bora Nui

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [12]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [13]:
# Set the file name.
output_data_file = ('WeatherPy_vacation.csv')

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [14]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [15]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Green leaf</dd>\n<dt>City</dt><dd>Kavaratti</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 80.73 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>clear sky and 76.24 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Finch Bay Galapagos Hotel</dd>\n<dt>City</dt><dd>Puerto Ayora</dd>\n<dt>Country</dt><dd>EC</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 75.16 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>broken clouds and 78.96 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Paradise Inn</dd>\n<dt>City</dt><dd>Avarua</dd>\n<dt>Country</dt><dd>CK</dd>\n<dt>Current Weather</dt><dd>broken clouds and 80.65 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pousada Porto Praia</dd>\n<dt>City</dt><dd>Arraial Do Cabo</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>clear sky and 73.26 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Turkistan</dd>\n<dt>Country</dt><dd>KZ</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 61.02 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Auberge Timay Evasion</dd>\n<dt>City</dt><dd>Touho</dd>\n<dt>Country</dt><dd>NC</dd>\n<dt>Current Weather</dt><dd>few clouds and 74.46 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Misty Waves Boutique Hotel</dd>\n<dt>City</dt><dd>Hermanus</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>light rain and 61.81 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>ဟိုတယ် မန်မိုရီ</dd>\n<dt>City</dt><dd>Akyab</dd>\n<dt>Country</dt><dd>MM</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 78.33 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [16]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
1   10.5669   72.6420
2   -9.8000 -139.0333
3   -0.7393  -90.3518
6  -21.2000 -175.2000
9  -21.2078 -159.7750
10 -22.9661  -42.0278
12  43.0000   68.0000
13 -20.7833  165.2333
14 -34.4187   19.2345
15  20.1500   92.9000

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [17]:
# Create a figure to add the Google map as a layer
fig = gmaps.figure(center = (30.0, 31.0), zoom_level=1.5)

# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))